@use 'variables' as *;

.currency {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem 0rem;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__swap {
		margin: 4rem 0rem;
		padding: 0.8rem 4rem;

		border: none;
		border-radius: 3rem;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 3rem;
		cursor: pointer;

		color: inherit;
		background-color: $theme-color-blue-3;
		box-shadow: 2px 2px 2px 1px $theme-color-blue-1;
	}

	&__input {
		text-align: center;
		border: none;
		background-color: transparent;
		text-transform: uppercase;

		color: $theme-color-grey-light;

		&:focus {
			outline: none;
			color: $theme-color-orange;
		}
	}

	&__amount {
		width: 100%;
		font-size: 4rem;
		font-family: 'Tomorrow', sans-serif;

		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	&__name-box {
		position: relative;
		width: 100%;
		max-width: 60px;
		margin: auto auto;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__name {
		width: 100%;
		text-align: center;
		border-top: 2px solid $theme-color-blue-3;
		font-size: 2rem;
		padding-top: 0.2rem;

		&:focus + .currency__name-holder {
			max-height: 10rem;
		}
	}

	&__name-holder {
		position: absolute;
		background-color: $theme-color-blue-1;
		max-height: 0rem;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 90px;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		border-radius: 5px;

		//right: 0;
		top: 3rem;

		z-index: 1;

		transition: all 0.5s ease;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $theme-color-blue-3;
			//border: 3px solid orange; /* creates padding around scroll thumb */
		}

		&::-webkit-scrollbar-track {
			background: $theme-color-blue-2; /* color of the tracking area */
		}
	}

	&__name-item {
		width: 4rem;
		font-size: 1.2rem;
		z-index: 1;

		text-align: center;
		padding: 0.5rem;

		transition: 0.5s ease all;

		&:hover {
			background-color: $theme-color-blue-2;
		}
	}

	&__rate {
		margin-top: 4rem;
		font-size: 2rem;
	}
}

// .currency-b {
// 	position: relative;
// }

// .currency-input:focus + .currency-box {
// 	max-height: 10rem;
// }

// .currency-box {
// 	max-height: 0;

// 	overflow-x: hidden;
// 	overflow-y: scroll;
// 	transition: all 0.5s ease;

// 	position: absolute;
// 	right: 0;

// 	display: flex;
// 	width: 100%;
// 	flex-wrap: wrap;
// 	justify-content: flex-end;

// 	&::-webkit-scrollbar {
// 		width: 12px; /* width of the entire scrollbar */
// 	}

// 	&::-webkit-scrollbar-thumb {
// 		background-color: blue; /* color of the scroll thumb */
// 		border-radius: 20px; /* roundness of the scroll thumb */
// 		border: 3px solid orange; /* creates padding around scroll thumb */
// 	}

// 	&::-webkit-scrollbar-track {
// 		background: orange; /* color of the tracking area */
// 	}

// 	div {
// 		color: red;
// 		background-color: grey;
// 		padding: 0.2rem;
// 		width: 3rem;

// 		&:hover {
// 			background-color: yellow;
// 			color: green;
// 			cursor: pointer;
// 		}
// 	}
// }

// .currency {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 2rem;

// 	background-color: green;
// 	width: 100%;
// 	max-width: 300px;

// 	&__amount {
// 		-moz-appearance: textfield;

// 		&::-webkit-inner-spin-button,
// 		&::-webkit-outer-spin-button {
// 			-webkit-appearance: none;
// 			margin: 0;
// 		}
// 	}

// 	option {
// 		background-color: blue;
// 	}

// 	&__amount,
// 	&__name {
// 		font-size: 4rem;
// 		color: #fff;
// 		border: none;
// 		background: none;

// 		width: 100%;
// 		text-align: center;

// 		&:focus {
// 			outline: none;
// 		}
// 		margin-bottom: 1rem;
// 		border: 1px solid red;
// 	}

// 	&__name {
// 		border-color: blue;

// 		font-weight: 700;
// 		background-color: yellow;

// 		&::-webkit-calendar-picker-indicator {
// 			display: none;
// 		}
// 	}

// 	&__data {
// 		background-color: red;
// 	}

// 	&__datalist {
// 		background-color: red;
// 	}

// }

// &__amount {
// 	text-align: right;

// 	&:focus {
// 		outline: none;
// 		color: rgb(67, 171, 255);
// 	}
// }

// &__name {
// 	text-align: left;
// 	text-transform: uppercase;
// }
